<div style="margin-top:30px">
	<div>
		<button type="button" class="btn btn-primary"><%= link_to 'create new Post', new_post_path, class: "text-white" %></button>
	</div>
	<div class="row">	
		<% @post.each do |post|%>
			<div class="col-sm-3">
				<div class="card" style="margin: 10px;">
				  <div class="card-body">
				    <h5 class="card-title"><%= post.article %></h5>
				    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
				    <p class="card-text"><%= post.description %></p>
				    <%= link_to 'Show', post %>
					    
				    <% if user_signed_in? && post.user_id == current_user.id%>
					    <%= link_to 'Edit', edit_post_path(post)%>
					    <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Aru you sure?'}%>
					<% end %>
				  </div>
				</div>
			</div>	
		<% end %>
	</div>	
	<div>
		<%= paginate @post  %>
	</div>
</div>