<div class="row">
	<div class="col-md-6 offset-md-3">
		<div>
			<h1 class="text-center"><%= @post.article%></h1>
		</div>
		<div>
			<p><%= @post.description%></p>

			<p><%= @user.email %></p>
		</div>
		<div>
			<%= link_to 'Edit', edit_post_path(@post) %> 
		</div>
		<div>
			<%= link_to 'back', posts_path %>
		</div>
		
	<!-- comment section -->
		<div class="row">
			<div class="col">
			<span class="text-primary"><b><%= @comment.count %></b></span>

			<%= link_to 'comment', new_post_comment_path(@post)%> 

			</div>

			<div class="col">
				<span><%= @total_like %> Likes</span>
				<% if user_signed_in? %>
					<% if @post.liked?(current_user) %>
						<%= button_to "like", like_path(@post), method: "put", disabled: true %>
					<% else %>
						<%= button_to "like", like_path(@post), method: "put" %>
					<% end %>
				<% end %>

			</div>
		</div>

		<% @comment.each do |comment| %>
			<div class="alert alert-dark" >
				
					<p><%= comment.comment_description %>
				
				<div>
					Likes
				</div>
			</div>
		<% end %>
	</div>
</div>